@import "./variables.scss";

footer {
  background-color: var(--bg-michelin);
  padding: 32px 0;
  margin-top: 80px;
  margin-bottom: 0;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $tablet) {
      flex-direction: column;
    }
    img {
      width: 290px;
      @media (max-width: $tablet) {
        width: 250px;
        margin-bottom: 20px;
      }
    }
  }
}
