@font-face {
  font-family: "Trip Sans";
  src: url("../fonts/TripSans-Regular.woff2") format("woff2"), url("../fonts/TripSans-Regular.woff") format("woff"), url("../fonts/TripSans-Regular.ttf") format("truetype"), url("../fonts/TripSans-Regular.svg#TripSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trip Sans", sans-serif;
  color: #000000; }

.is-column {
  flex-direction: column; }

.container {
  width: 1136px;
  min-width: 1136px;
  margin: 0 auto;
  padding-right: 24px;
  padding-left: 24px;
  /*@media (max-width: $widescreen) {
    width: 1153px;
    min-width: 1153px;
  }
  @media (max-width: $desktop) {
    width: 961px;
    min-width: 961px;
  }
  @media (max-width: $laptop) {
    width: 767px;
    min-width: 767px;
  }
  @media (max-width: $tablet) {
    width: 481px;
    min-width: 481px;
  }
  @media (max-width: $mobile) {
    width: 320px;
    min-width: 320px;
  } */ }
  .container .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-right: -24px;
    margin-left: -24px; }
    @media (max-width: 1220px) {
      .container .row {
        margin: 0 -8px; } }

.container-fluid {
  padding: 0 48px; }
  .container-fluid .row {
    display: flex;
    align-items: center;
    padding: 0 16px; }

/* -------------- */
/* HEADER */
/* -------------- */
a {
  text-decoration: none; }

header {
  background-color: white;
  height: 60px;
  margin-bottom: 35px; }
  header #header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px; }
    header #header .left_menu {
      display: flex;
      align-items: center; }
      header #header .left_menu_logo img {
        width: 180px;
        margin-right: 28px; }
    header #header .right_menu_icons {
      height: 40px;
      min-width: 40px;
      text-decoration: none;
      border-radius: 20px;
      padding: 12px;
      margin-right: 8px;
      color: #000000;
      transition: background-color 0.1s linear, border-color 0.1s linear; }
      header #header .right_menu_icons:hover {
        background-color: #f2f2f2; }
      header #header .right_menu_icons span {
        font-size: 16px;
        font-weight: 700;
        line-height: 20px; }
      header #header .right_menu_icons svg {
        font-size: large; }
    header #header .right_menu button {
      cursor: pointer;
      font-weight: bold;
      border: none;
      appearance: none;
      color: white;
      background-color: #000000;
      border-radius: 20px;
      padding: 10px 16px;
      transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear; }

main #banner h1 {
  font-size: 54px;
  line-height: 65px;
  color: #ff5d5d;
  font-weight: bolder; }
  main #banner h1 span {
    color: #000000; }

main #banner .menu ul {
  display: flex;
  min-height: 90px;
  margin: 16px 0 25px; }
  main #banner .menu ul li {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    color: #000000;
    cursor: pointer;
    font-size: 16px;
    padding: 12px 16px;
    font-weight: bold;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 16px;
    transition: background-color 0.2s, color 0.2s; }
    main #banner .menu ul li:hover {
      color: white;
      border-color: #000000;
      background-color: #000000; }
    main #banner .menu ul li:last-child {
      margin-right: auto; }
    main #banner .menu ul li span {
      line-height: 20px;
      display: block; }

main #banner .gallery {
  position: relative;
  height: 430px;
  width: 100%;
  display: flex;
  overflow: hidden; }
  main #banner .gallery img {
    object-fit: cover;
    cursor: pointer;
    transition: opacity 0.3s linear; }
    main #banner .gallery img:hover {
      opacity: 0.7; }
  main #banner .gallery .first {
    flex: 1.5;
    margin-right: 5px; }
  main #banner .gallery .photos {
    flex: 1;
    display: flex;
    flex-direction: column; }
    main #banner .gallery .photos img {
      width: 100%;
      height: 50%; }
      main #banner .gallery .photos img:last-child {
        margin-top: 5px; }
  main #banner .gallery .allpictures {
    position: absolute;
    bottom: 20px;
    left: 10px; }
    main #banner .gallery .allpictures a {
      line-height: 14px;
      font-size: 12px;
      font-weight: 700;
      text-decoration: none;
      color: white;
      padding: 10px;
      border-radius: 16px;
      background-color: #000000; }
      main #banner .gallery .allpictures a:hover {
        background-color: #333333; }

main #banner .breadcrumbs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400; }
  main #banner .breadcrumbs_left a {
    color: #333333; }
    main #banner .breadcrumbs_left a:hover {
      text-decoration: underline; }
    main #banner .breadcrumbs_left a::after {
      content: ">";
      margin: 0 2px; }
    main #banner .breadcrumbs_left a:last-child::after {
      content: ""; }

main #second {
  margin-top: 16px;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between; }
  main #second .first_column {
    width: 50%; }
    main #second .first_column h2 {
      font-size: 28px;
      line-height: 34px;
      font-weight: 800;
      margin-bottom: 12px; }
    main #second .first_column p {
      font-family: Georgia, "Times New Roman", Times, serif;
      font-size: 20px;
      line-height: 24px;
      font-weight: 400;
      color: #333333;
      margin-bottom: 24px; }
  main #second .second_column {
    width: 42%;
    display: flex;
    flex-direction: column; }
    main #second .second_column_top {
      background-color: #ff5d5d;
      padding: 32px 32px 8px;
      border-radius: 12px 12px 0 0; }
      main #second .second_column_top h3 {
        font-size: 32px;
        font-weight: 700;
        line-height: 40px;
        margin-bottom: 12px; }
      main #second .second_column_top p {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 24px; }
      main #second .second_column_top button {
        padding: 16px;
        font-weight: 700;
        border: none;
        color: white;
        cursor: pointer;
        background-color: #000000;
        font-size: 16px;
        display: inline-block;
        border-radius: 20px;
        line-height: 20px;
        margin-bottom: 24px;
        transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear; }
        main #second .second_column_top button:hover {
          background-color: #333333; }
    main #second .second_column img {
      border-radius: 0 0 12px 12px; }
