:root {
  --black: #000;
  --black-hover: #333;
  --img-hover: #faf1ed;
  --red: #ff5d5d;
  --color-michelin: #bd2333;
  --bg-michelin: #faf1ed;
  --light-grey: #f2f2f2;
  --light-green: #34e0a1;
  --w-container: 1136px;
  --px-container: 24px;
  --py-h3: 28px;
  --font-p: Georgia, "Times New Roman", Times, serif; }

* {
  box-sizing: border-box; }

html,
body {
  margin: 0;
  padding: 0;
  color: var(--black);
  font-family: "Trip Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

button {
  font-family: inherit;
  cursor: pointer; }

.is-column {
  flex-direction: column; }

a {
  color: var(--black-hover);
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

strong {
  color: #545454;
  font-weight: 700; }

.hidden {
  display: none !important; }

.container {
  /*   width: calc(var(--w-container) + 2 * var(--px-container));
  min-width: calc(var(--w-container) + 2 * var(--px-container)); */
  width: 100%; }
  @media (min-width: 1328px) {
    .container {
      max-width: calc(var(--w-container) + 2 * var(--px-container));
      margin: 0 auto;
      padding-left: auto;
      padding-right: auto; } }
  @media (min-width: 768px) and (max-width: 1328px) {
    .container {
      padding-left: var(--px-container);
      padding-right: var(--px-container); } }
  @media (max-width: 767px) {
    .container {
      padding-left: var(--px-container);
      padding-right: var(--px-container); } }

:root {
  --black: #000;
  --black-hover: #333;
  --img-hover: #faf1ed;
  --red: #ff5d5d;
  --color-michelin: #bd2333;
  --bg-michelin: #faf1ed;
  --light-grey: #f2f2f2;
  --light-green: #34e0a1;
  --w-container: 1136px;
  --px-container: 24px;
  --py-h3: 28px;
  --font-p: Georgia, "Times New Roman", Times, serif; }

* {
  box-sizing: border-box; }

html,
body {
  margin: 0;
  padding: 0;
  color: var(--black);
  font-family: "Trip Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

button {
  font-family: inherit;
  cursor: pointer; }

.is-column {
  flex-direction: column; }

a {
  color: var(--black-hover);
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

strong {
  color: #545454;
  font-weight: 700; }

.hidden {
  display: none !important; }

.container {
  /*   width: calc(var(--w-container) + 2 * var(--px-container));
  min-width: calc(var(--w-container) + 2 * var(--px-container)); */
  width: 100%; }
  @media (min-width: 1328px) {
    .container {
      max-width: calc(var(--w-container) + 2 * var(--px-container));
      margin: 0 auto;
      padding-left: auto;
      padding-right: auto; } }
  @media (min-width: 768px) and (max-width: 1328px) {
    .container {
      padding-left: var(--px-container);
      padding-right: var(--px-container); } }
  @media (max-width: 767px) {
    .container {
      padding-left: var(--px-container);
      padding-right: var(--px-container); } }

header {
  background-color: white;
  height: 60px;
  margin-bottom: 35px; }
  header #header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px; }
    header #header .header_menu {
      display: none; }
      @media (max-width: 767px) {
        header #header .header_menu {
          display: block; } }
    header #header .left_menu_logo img {
      width: 180px;
      margin-right: 28px;
      outline: none; }
      @media (max-width: 767px) {
        header #header .left_menu_logo img {
          width: 150px;
          margin-right: auto; } }
    header #header .right_menu_icons {
      height: 40px;
      min-width: 40px;
      text-decoration: none;
      border-radius: 20px;
      padding: 12px;
      margin-right: 8px;
      color: var(--black);
      transition: background-color 0.1s linear, border-color 0.1s linear; }
      header #header .right_menu_icons:hover {
        background-color: var(--light-grey); }
      header #header .right_menu_icons span {
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        display: inline; }
        @media (max-width: 1024px) {
          header #header .right_menu_icons span {
            display: none; } }
      header #header .right_menu_icons svg {
        font-size: large; }
    header #header .right_menu button {
      font-size: 16px;
      line-height: 20px;
      font-weight: 700;
      border: none;
      appearance: none;
      color: white;
      background-color: var(--black);
      border-radius: 20px;
      padding: 10px 16px;
      transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear; }
    @media (max-width: 768px) {
      header #header .right_menu {
        display: none; } }

:root {
  --black: #000;
  --black-hover: #333;
  --img-hover: #faf1ed;
  --red: #ff5d5d;
  --color-michelin: #bd2333;
  --bg-michelin: #faf1ed;
  --light-grey: #f2f2f2;
  --light-green: #34e0a1;
  --w-container: 1136px;
  --px-container: 24px;
  --py-h3: 28px;
  --font-p: Georgia, "Times New Roman", Times, serif; }

* {
  box-sizing: border-box; }

html,
body {
  margin: 0;
  padding: 0;
  color: var(--black);
  font-family: "Trip Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

button {
  font-family: inherit;
  cursor: pointer; }

.is-column {
  flex-direction: column; }

a {
  color: var(--black-hover);
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

strong {
  color: #545454;
  font-weight: 700; }

.hidden {
  display: none !important; }

.container {
  /*   width: calc(var(--w-container) + 2 * var(--px-container));
  min-width: calc(var(--w-container) + 2 * var(--px-container)); */
  width: 100%; }
  @media (min-width: 1328px) {
    .container {
      max-width: calc(var(--w-container) + 2 * var(--px-container));
      margin: 0 auto;
      padding-left: auto;
      padding-right: auto; } }
  @media (min-width: 768px) and (max-width: 1328px) {
    .container {
      padding-left: var(--px-container);
      padding-right: var(--px-container); } }
  @media (max-width: 767px) {
    .container {
      padding-left: var(--px-container);
      padding-right: var(--px-container); } }

main #banner .menu ul {
  display: flex;
  min-height: 90px;
  margin: 16px 0 25px; }
  main #banner .menu ul li {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    color: var(--black);
    cursor: pointer;
    font-size: 16px;
    padding: 12px 16px;
    font-weight: bold;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: background-color 0.2s, color 0.2s; }
    main #banner .menu ul li:hover {
      color: white;
      border-color: var(--black);
      background-color: var(--black); }
    main #banner .menu ul li:not(:last-child) {
      margin-right: 16px; }
    main #banner .menu ul li span {
      line-height: 20px;
      max-width: 88px;
      overflow: hidden;
      text-overflow: ellipsis; }
    @media (min-width: 768px) and (max-width: 1024px) {
      main #banner .menu ul li {
        width: calc(25% - 16px);
        flex: 0 0 auto;
        min-width: 0;
        margin-bottom: 16px; }
        main #banner .menu ul li.hidden {
          display: flex !important; } }
    @media (max-width: 767px) {
      main #banner .menu ul li {
        width: calc(50% - 16px);
        flex: 0 0 auto;
        min-width: 0;
        margin-bottom: 16px; }
        main #banner .menu ul li.hidden {
          display: flex !important; } }
  @media (max-width: 767px), (min-width: 768px) and (max-width: 1024px) {
    main #banner .menu ul {
      flex-flow: wrap; } }

main #banner .gallery {
  position: relative;
  height: 430px;
  display: flex; }
  @media (max-width: 1328px) {
    main #banner .gallery {
      height: 372px;
      min-height: 372px; } }
  @media (max-width: 1024px) {
    main #banner .gallery {
      height: 276px;
      min-height: 372px; } }
  @media (max-width: 767px) {
    main #banner .gallery {
      margin-left: -24px;
      margin-right: -24px; } }
  main #banner .gallery .first {
    height: 100%;
    flex: 1;
    margin-right: 2px; }
    main #banner .gallery .first img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      cursor: pointer; }
      main #banner .gallery .first img {
        transition: opacity 0.3s linear; }
        main #banner .gallery .first img:hover {
          opacity: 0.7; }
    @media (max-width: 1024px) {
      main #banner .gallery .first {
        flex: auto;
        margin-right: 0; } }
  main #banner .gallery .photos {
    height: 100%; }
    @media (min-width: 1024px) and (max-width: 1328px) {
      main #banner .gallery .photos {
        width: 402px;
        display: flex;
        flex-direction: column; } }
    @media (max-width: 767px) {
      main #banner .gallery .photos {
        display: none; } }
    main #banner .gallery .photos img {
      height: calc(50% - 1px);
      width: 100%;
      object-fit: cover;
      display: block; }
      @media (max-width: 768px) {
        main #banner .gallery .photos img {
          height: 100%;
          width: 100%;
          object-fit: cover; } }
      main #banner .gallery .photos img:first-child {
        margin-bottom: 2px; }
  main #banner .gallery .allpictures {
    position: absolute;
    bottom: 20px;
    left: 10px; }
    main #banner .gallery .allpictures a {
      line-height: 14px;
      font-size: 12px;
      font-weight: 700;
      text-decoration: none;
      color: white;
      padding: 10px;
      border-radius: 16px;
      background-color: var(--black); }
      main #banner .gallery .allpictures a:hover {
        background-color: var(--black-hover); }

main #banner .breadcrumbs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400; }
  main #banner .breadcrumbs_left a::after {
    content: ">";
    margin: 0 2px; }
  main #banner .breadcrumbs_left a:last-child::after {
    content: ""; }

main #second {
  margin-top: 16px;
  display: flex;
  justify-content: space-between; }
  @media (max-width: 1024px) {
    main #second {
      flex-direction: column; } }
  main #second .first_column {
    width: 50%; }
    @media (max-width: 1024px) {
      main #second .first_column {
        width: 100%; } }
    main #second .first_column p {
      font-family: var(--font-p);
      font-size: 20px;
      line-height: 24px;
      font-weight: 400;
      color: var(--black-hover);
      margin-bottom: 24px; }
      @media (max-width: 768px) {
        main #second .first_column p {
          font-size: 16px;
          line-height: 20px; } }
  main #second .second_column {
    width: 45%;
    display: flex;
    flex-direction: column; }
    main #second .second_column_top {
      background-color: var(--red);
      padding: 32px 32px 8px;
      border-radius: 12px 12px 0 0; }
      main #second .second_column_top p {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 24px; }
        @media (max-width: 768px) {
          main #second .second_column_top p {
            font-size: 16px;
            line-height: 20px; } }
      main #second .second_column_top button {
        padding: 16px;
        font-weight: 700;
        border: none;
        color: white;
        background-color: var(--black);
        font-size: 16px;
        display: inline-block;
        border-radius: 20px;
        line-height: 20px;
        margin-bottom: 24px;
        transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear; }
        main #second .second_column_top button:hover {
          background-color: var(--black-hover); }
      @media (min-width: 768px) and (max-width: 1024px) {
        main #second .second_column_top {
          flex: auto;
          border-radius: 12px 0 0 12px; } }
    main #second .second_column img {
      border-radius: 0 0 12px 12px; }
      @media (min-width: 768px) and (max-width: 1024px) {
        main #second .second_column img {
          border-radius: 0 12px 12px 0;
          width: 50%;
          object-fit: cover; } }
    @media (min-width: 768px) and (max-width: 1024px) {
      main #second .second_column {
        margin-top: 5%;
        flex-direction: row;
        max-width: 100%;
        width: 100%; } }
    @media (max-width: 767px) {
      main #second .second_column {
        width: 100%;
        margin-top: 5%; } }

main #immanquables {
  margin-top: 84px; }
  main #immanquables .entertain {
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
    margin-top: 24px; }
    @media (max-width: 768px) {
      main #immanquables .entertain {
        flex-direction: column; } }
    main #immanquables .entertain_text {
      width: calc(25% + 40px); }
      @media (max-width: 1024px) {
        main #immanquables .entertain_text {
          width: calc(50% + 20px); } }
      @media (max-width: 768px) {
        main #immanquables .entertain_text {
          width: 100%;
          margin-bottom: 40px; } }
      main #immanquables .entertain_text p {
        font-family: var(--font-p);
        font-size: 18px;
        line-height: 22px;
        color: var(--black-hover);
        font-weight: 400;
        margin-bottom: 24px; }
      main #immanquables .entertain_text a {
        font-size: 14px;
        line-height: 17px;
        color: #545454;
        font-weight: 700; }
    main #immanquables .entertain_carousel {
      width: 1000px;
      display: flex;
      overflow: hidden;
      overflow-x: scroll;
      /* ===== Scrollbar CSS ===== */
      /* Firefox */
      /* Chrome, Edge, and Safari */ }
      main #immanquables .entertain_carousel {
        scrollbar-width: none;
        -ms-overflow-style: none;
        /*scrollbar-color: #6b6b6b #fff; */ }
      main #immanquables .entertain_carousel::-webkit-scrollbar {
        width: 16px; }
      main #immanquables .entertain_carousel::-webkit-scrollbar-track {
        background: transparent; }
      main #immanquables .entertain_carousel::-webkit-scrollbar-thumb {
        background-color: #6b6b6b;
        border-radius: 10px;
        border: 4px solid #ffffff; }
      @media (max-width: 768px) {
        main #immanquables .entertain_carousel {
          width: 100%; } }
      main #immanquables .entertain_carousel_link {
        flex-shrink: 0;
        margin-right: 16px;
        min-height: 300px;
        max-width: 270px;
        display: flex;
        flex-direction: column;
        text-decoration: none; }
        main #immanquables .entertain_carousel_link:hover .entertain_carousel_link_bottom h5 {
          text-decoration: underline; }
        main #immanquables .entertain_carousel_link:last-child {
          margin-right: 0; }
        main #immanquables .entertain_carousel_link_top {
          position: relative;
          min-height: 205px; }
          main #immanquables .entertain_carousel_link_top img {
            width: 100%;
            height: 100%;
            object-fit: cover; }
            main #immanquables .entertain_carousel_link_top img {
              transition: opacity 0.3s linear; }
              main #immanquables .entertain_carousel_link_top img:hover {
                opacity: 0.7; }
          main #immanquables .entertain_carousel_link_top__icon {
            position: absolute;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 5px;
            right: 5px;
            min-width: 40px;
            height: 40px;
            border-radius: 50%;
            padding: 6px;
            transition: background-color 0.1s linear, border-color 0.1s linear; }
            main #immanquables .entertain_carousel_link_top__icon:hover {
              background-color: var(--light-grey); }
            main #immanquables .entertain_carousel_link_top__icon svg {
              font-size: larger; }
          main #immanquables .entertain_carousel_link_top .badge {
            width: 30px;
            height: 30px;
            position: absolute;
            bottom: 10px;
            left: 10px;
            background-image: url("../img/tripadvisor_logo_icon.svg");
            background-repeat: no-repeat;
            background-size: cover; }
        main #immanquables .entertain_carousel_link_bottom {
          text-align: left; }
          main #immanquables .entertain_carousel_link_bottom .star {
            display: inline-block;
            padding: 2px 8px;
            border-radius: 4px;
            background-color: var(--bg-michelin);
            color: var(--color-michelin);
            font-weight: 800;
            font-size: 12px;
            margin-top: 8px;
            text-transform: uppercase; }
            main #immanquables .entertain_carousel_link_bottom .star img {
              height: 14px;
              width: 14px;
              vertical-align: middle;
              margin-right: 4px; }
          main #immanquables .entertain_carousel_link_bottom .note {
            margin-top: 4px;
            margin-bottom: 8px; }
            main #immanquables .entertain_carousel_link_bottom .note span {
              font-size: 12px;
              line-height: 14px;
              min-height: 14px;
              font-weight: 400;
              color: var(--black-hover); }
          main #immanquables .entertain_carousel_link_bottom .tags {
            margin-bottom: 4px; }
            main #immanquables .entertain_carousel_link_bottom .tags span {
              font-size: 14px;
              line-height: 18px;
              min-height: 18px;
              color: var(--black-hover); }

main #travel-guide {
  margin-top: 24px;
  position: relative;
  margin-bottom: 60px; }
  main #travel-guide .travel_gallery {
    margin-top: 18px;
    display: flex;
    justify-content: space-between; }
    main #travel-guide .travel_gallery_img {
      flex-basis: 33%;
      /*max-height: 275px;*/
      margin-right: 16px;
      display: flex;
      flex-direction: column; }
      main #travel-guide .travel_gallery_img:last-child {
        margin-right: 0; }
      main #travel-guide .travel_gallery_img__top {
        max-height: 250px; }
        main #travel-guide .travel_gallery_img__top img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
          main #travel-guide .travel_gallery_img__top img {
            transition: opacity 0.3s linear; }
            main #travel-guide .travel_gallery_img__top img:hover {
              opacity: 0.7; }
      main #travel-guide .travel_gallery_img__bottom .nb-articles {
        margin-bottom: 4px;
        display: inline-block;
        font-size: 14px;
        line-height: 18px;
        color: var(--black-hover);
        font-weight: 400; }
      main #travel-guide .travel_gallery_img__bottom .publishby {
        display: flex;
        align-items: center;
        margin-top: 5px; }
        main #travel-guide .travel_gallery_img__bottom .publishby .bg_author {
          width: 24px;
          height: 24px;
          background-position: no-repeat;
          background-size: cover;
          border-radius: 50%; }
          main #travel-guide .travel_gallery_img__bottom .publishby .bg_author.eatwith {
            background-image: url("../img/guide-voyageurs/eatwith.jpg"); }
          main #travel-guide .travel_gallery_img__bottom .publishby .bg_author.topito {
            background-image: url("../img/guide-voyageurs/topito-com.jpg"); }
        main #travel-guide .travel_gallery_img__bottom .publishby span {
          font-size: 14px;
          line-height: 18px;
          color: var(--black-hover);
          margin-left: 8px;
          font-weight: 400;
          vertical-align: middle; }

:root {
  --black: #000;
  --black-hover: #333;
  --img-hover: #faf1ed;
  --red: #ff5d5d;
  --color-michelin: #bd2333;
  --bg-michelin: #faf1ed;
  --light-grey: #f2f2f2;
  --light-green: #34e0a1;
  --w-container: 1136px;
  --px-container: 24px;
  --py-h3: 28px;
  --font-p: Georgia, "Times New Roman", Times, serif; }

* {
  box-sizing: border-box; }

html,
body {
  margin: 0;
  padding: 0;
  color: var(--black);
  font-family: "Trip Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

button {
  font-family: inherit;
  cursor: pointer; }

.is-column {
  flex-direction: column; }

a {
  color: var(--black-hover);
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

strong {
  color: #545454;
  font-weight: 700; }

.hidden {
  display: none !important; }

.container {
  /*   width: calc(var(--w-container) + 2 * var(--px-container));
  min-width: calc(var(--w-container) + 2 * var(--px-container)); */
  width: 100%; }
  @media (min-width: 1328px) {
    .container {
      max-width: calc(var(--w-container) + 2 * var(--px-container));
      margin: 0 auto;
      padding-left: auto;
      padding-right: auto; } }
  @media (min-width: 768px) and (max-width: 1328px) {
    .container {
      padding-left: var(--px-container);
      padding-right: var(--px-container); } }
  @media (max-width: 767px) {
    .container {
      padding-left: var(--px-container);
      padding-right: var(--px-container); } }

footer {
  background-color: var(--bg-michelin);
  padding: 32px 0;
  margin-top: 80px;
  margin-bottom: 0; }
  footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media (max-width: 768px) {
      footer .container {
        flex-direction: column; } }
    footer .container img {
      width: 290px; }
      @media (max-width: 768px) {
        footer .container img {
          width: 250px;
          margin-bottom: 20px; } }

/* Titles */
h1 {
  font-family: "Trip Sans Medium";
  font-size: 54px;
  line-height: 65px;
  color: var(--red);
  font-weight: bolder; }
  h1 span {
    color: var(--black); }
  @media (max-width: 767px) {
    h1 {
      font-size: 32px;
      line-height: 32px; } }

h2 {
  font-family: "Trip Sans Medium";
  font-size: 28px;
  line-height: 34px;
  font-weight: 800;
  margin-bottom: 12px; }

h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 12px; }

h4 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 26px; }

h5 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #545454;
  margin-top: 10px; }

@font-face {
  font-family: "Trip Sans";
  src: url("../fonts/TripSans-Regular.woff2") format("woff2"), url("../fonts/TripSans-Regular.woff") format("woff"), url("../fonts/TripSans-Regular.ttf") format("truetype"), url("../fonts/TripSans-Regular.svg#TripSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Trip Sans Medium";
  src: url("../fonts/TripSans-Medium.woff2") format("woff2"), url("../fonts/TripSans-Medium.woff") format("woff"), url("../fonts/TripSans-Medium.ttf") format("truetype"), url("../fonts/TripSans-Medium.svg#TripSans-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
