//Media queries
$tablet: 768px;
$laptop: 1024px;
$widescreen: 1328px;

:root {
  --black: #000;
  --black-hover: #333;
  --img-hover: #faf1ed;
  --red: #ff5d5d;
  --color-michelin: #bd2333;
  --bg-michelin: #faf1ed;
  --light-grey: #f2f2f2;
  --light-green: #34e0a1;
  --w-container: 1136px;
  --px-container: 24px;
  --py-h3: 28px;
  --font-p: Georgia, "Times New Roman", Times, serif;
}

// color
$black: var(--black);
$black-hover: var(--black-hover);
$imgHover: var(--img-hover);
$red: var(--red);
$gray: var(--light-grey);

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  color: $black;
  font-family: "Trip Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: inherit;
  cursor: pointer;
}

.is-column {
  flex-direction: column;
}

a {
  color: $black-hover;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

strong {
  color: #545454;
  font-weight: 700;
}

.hidden {
  display: none !important;
}
// Container
.container {
  /*   width: calc(var(--w-container) + 2 * var(--px-container));
  min-width: calc(var(--w-container) + 2 * var(--px-container)); */
  width: 100%;
  @media (min-width: $widescreen) {
    max-width: calc(var(--w-container) + 2 * var(--px-container));
    margin: 0 auto;
    padding-left: auto;
    padding-right: auto;
  }

  @media (min-width: $tablet) and (max-width: $widescreen) {
    padding-left: var(--px-container);
    padding-right: var(--px-container);
  }

  @media (max-width: ($tablet - 1)) {
    padding-left: var(--px-container);
    padding-right: var(--px-container);
  }
}

@mixin scrollbar() {
  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  & {
    scrollbar-width: none;
    -ms-overflow-style: none;
    /*scrollbar-color: #6b6b6b #fff; */
  }

  /* Chrome, Edge, and Safari */
  &::-webkit-scrollbar {
    width: 16px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #6b6b6b;
    border-radius: 10px;
    border: 4px solid #ffffff;
  }
}

@mixin imgHover() {
  & {
    transition: opacity 0.3s linear;
    &:hover {
      opacity: 0.7;
    }
  }
}
